body {
    background-color: green
}

.card {
    position: relative;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
}
.cardReverse {
    position: relative;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);
  }

.cardReverse:hover {
    transform: rotateY(0deg);
  }  
.tray {
    display: flex;
    flex-wrap: wrap;
}
  
.card-header img {
    backface-visibility: hidden;
    width: 50px;
    height: 50px;
}
#figure {
    width: 30px;
    height: 30px;
}

.card-body {
    flex: 1;
    display: flex;    
}
.card-footer {
    backface-visibility: hidden;
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -60px;
}
.card-footer img {
    width: 50px;
    height: 50px;
}

#front {
    position:absolute;
    width: 94%;
    height: 95%;
    backface-visibility: hidden; 
    background: url('https://ih1.redbubble.net/image.189910612.7582/st,small,507x507-pad,600x600,f8f8f8.u2.jpg');
    display: flex;
    flex-direction: column;
}
#backReverse {
    position:absolute;
    width: 94%;
    height: 95%;
    background: url('https://ih1.redbubble.net/image.189910612.7582/st,small,507x507-pad,600x600,f8f8f8.u2.jpg');
    background-size: 14.7%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;   
}

#singleLine img  {
    width: 25px;
    height: 25px;
}
#singleLineBottom { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -20px;   
}
#singleLineBottom img {
    width: 25px;
    height: 25px;
}
#doubleLine img  {
    width: 20px;
    height: 20px;
}
#doubleLineBottom1 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: 0px;  
}
#doubleLineBottom1 img {
    width: 20px;
    height: 20px;
}
#doubleLineBottom2 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: 0px;   
}
#doubleLineBottom2 img {
    width: 20px;
    height: 20px;
}
#doubleLineBottom3 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -20px;   
}
#doubleLineBottom3 img {
    width: 20px;
    height: 20px;
}
span i {
    font-size: 26px;
    color: rgb(107, 22, 22);
    padding-left: 0px;
}

