body {
    background-color: green;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    border: 0px;
    margin: 0px;
     
}
.board{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}
.BUTTONS { 
    grid-area: 3 / 1 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #startGame, #nextRound{
    width: 100px;
    height:100px ;
    font-size: 25px;
    border-radius: 50px;
    align-content: center;
 }

.CARDS { grid-area: 2 / 1 / 3 / 5; }

.deck { 
    grid-area: 2 / 1 / 3 / 2; 
    display: grid;
    justify-content: center;
    align-content: center;  
}
.cardReverse { 
    grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card { 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
      
.card2 { 
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
      
.cardReverse2 { 
    grid-area: 2 / 4 / 3 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.deck2 { 
    grid-area: 2 / 4 / 3 / 5; 
    display: grid;
    justify-content: center;
    align-content: center;  
}

.INFORMATION_AREA { 
    grid-area: 1 / 1 / 2 / 5; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    align-self:top;
    font-size: 50px;
    color: #ffffff;
}
.INFORMATION_AREA2 { 
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
    align-self: top;
    font-size: 50px;
    color: #ffffff;
}    

.COUNTER1 { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    font-size: 50px;
    color: #ffffff;
}
      
.MESSAGES { 
    grid-area: 1 / 2 / 2 / 4; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    color: #ffffff;
    font-size:300%;
}
      
.COUNTER2 { 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    font-size: 50px;
    color: #ffffff;
}
      

.card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
}
.card2{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
}
.deck {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
    position: relative;
    
}
.deck2 {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 

}
.cardReverse {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 

}

.cardReverse2 {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;   
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
 
}

.animate-card {
    transform: translateX(113%);   
}
.animate-card2 {
    transform: translateX(-113%);
}
.rotate-card {
    transform: translate(113%) rotateY(180deg);
    transition: transform 0.2s ease-in-out; 
}
.rotate-card2 {
    transform: translate(-113%) rotateY(-180deg);
    transition: transform 0.2s ease-in-out; 
}

.card-body {
    flex: 1; 
}
.card-footer {
    backface-visibility: hidden;
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -60px;
} 
.card-footer img {
    width: 50px;
    height: 50px;
}
.card-header img {
    backface-visibility: hidden;
    width: 50px;
    height: 50px;
}

#front {
    position:absolute;
    width: 94%;
    height: 95%;
    backface-visibility: hidden; 
    background: url('https://ih1.redbubble.net/image.189910612.7582/st,small,507x507-pad,600x600,f8f8f8.u2.jpg');
    display: flex;
    flex-direction: column;
}
#backReverse {
    position:absolute;
    width: 94%;
    height: 95%;
    background: url('https://ih1.redbubble.net/image.189910612.7582/st,small,507x507-pad,600x600,f8f8f8.u2.jpg');
    background-size: 14.7%;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;      
}
#deck {
    position:absolute;
    width: 94%;
    height: 95%;
    background: url('https://ih1.redbubble.net/image.189910612.7582/st,small,507x507-pad,600x600,f8f8f8.u2.jpg');
    background-size: 14.7%;
    background-repeat: repeat;
    transform: translate(3.25%, 2.5%);
 
   
}

/* .card:hover {
    transform: rotateY(180deg);
  }

.cardReverse:hover {
    transform: rotateY(0deg);
  }   */
  

#Ace {
    width: 100px;
    height: 100px;
}

#figure {
    width: 30px;
    height: 30px;
}

#singleLine img  {
    width: 25px;
    height: 25px;
}
#singleLineBottom { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -20px;   
}
#singleLineBottom img {
    width: 25px;
    height: 25px;
}

.tray {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

#doubleLine img  {
    width: 20px;
    height: 20px;
}
#doubleLineBottom1 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: 0px;  
}
#doubleLineBottom1 img {
    width: 20px;
    height: 20px;
}
#doubleLineBottom2 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: 0px;   
}
#doubleLineBottom2 img {
    width: 20px;
    height: 20px;
}
#doubleLineBottom3 { 
    transform: rotate(180deg) translateX(100%);
    transform-origin: top right;
    margin-bottom: -20px;   
}
#doubleLineBottom3 img {
    width: 20px;
    height: 20px;
}

