
@media screen and (min-width: 769px) {
    .container {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          "test test";
      }
}

@media screen and (min-width: 2000px) {
    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          "test test";
      }
}  

@media screen and (max-width: 768px) {
    .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    }
}
  
.container img{
    grid-area: test;
    max-width: 50%;
    margin: auto;
}

.center-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

span i {
    font-size: 26px;
    color: #5c6c76;
    padding-left: 30px;
}

.bodytext{
  padding-bottom: 30px;
}